* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left {
    width: 50%;
}

.left h1 {
    font-size: 50px;
    font-weight: bolder;
}

.left p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.486);
}

.container img {
    width: 648px;
    margin-top: 30px;
}

.link {
    width: 50px;
    height: 50px;
    background-color: black;
}

.fa-instagram-square {
    width: 100%;
}

.btn2 {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    transition: 0.4s all;
    font-weight: bolder;
}

.btn2:hover:hover {
    background-color: rgba(0, 0, 0, 0.294);
    color: black;
}

.btn2 a {
    text-decoration: none;
    color: white;
}


/* footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer span {
    text-align: center;
}

.footer img {
    filter: invert(1);
    margin: 0px 10px;
}

@media (max-width:768px) {
    .container {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .left {
        width: 100%;
        text-align: center;
    }
    .container img {
        width: 300px;
    }
    .left h1 {
        font-size: 30px;
    }
    .footer .images {
        flex-direction: column;
    }
    .footer span {
        margin-right: 0px;
    }
    .footer img {
        margin: 0px;
    }
}