* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.containers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.left {
    width: 50%;
}

.left h1 {
    font-size: 50px;
    font-weight: bolder;
}

.left p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.486);
}

.containers img {
    width: 648px;
    margin-top: 30px;
}

.link {
    width: 50px;
    height: 50px;
    background-color: black;
}

.fa-instagram-square {
    width: 100%;
}

.btn2 {
    width: 200px;
    height: 45px;
    background-color: black;
    color: white;
    transition: 0.3s all;
    font-weight: bolder;
    margin-top: 20px;
    border: none;
}

.btn2 a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(235, 235, 235);
    text-transform: none;
    transition: 0.3s all;
}

.btn2 a:hover {
    color: rgb(251, 250, 250);
    letter-spacing: 2px;
}

.btn2:hover {
    letter-spacing: 2px;
    background: rgba(17, 16, 17, 0.822);
}


/* footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer span {
    text-align: center;
}

.footer img {
    filter: invert(1);
    margin: 0px 10px;
}


/* media queries */

@media (max-width:768px) {
    .containers {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .left {
        width: 100%;
        text-align: center;
    }
    .left h1 {
        margin: 21px 0;
    }
    .containers img {
        width: 300px;
    }
    .left h1 {
        font-size: 30px;
    }
    .left .btn2 {
        width: 140px;
        height: 40px;
    }
    .footer .images {
        flex-direction: column;
    }
    .footer span {
        margin-right: 0px;
    }
    .footer img {
        margin: 0px;
    }
}

@media (min-width:768px) and (max-width:1300px) {
    .containers {
        flex-direction: column-reverse;
        justify-content: center;
    }
}
